.heading {
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr auto;
}

.form {
  width: 80%;
}

#nameId.ng-valid {
  border: 5px solid green;
}

#nameId.ng-invalid {
  border: 5px solid red;
}
